{% extends 'base.html' %}
{% block styles %}
    <style>
        .form-signin
        {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }
        .form-signin .form-signin-heading, .form-signin .checkbox
        {
            margin-bottom: 10px;
        }
        .form-signin .checkbox
        {
            font-weight: normal;
        }
        .form-signin .form-control
        {
            position: relative;
            font-size: 16px;
            height: auto;
            padding: 10px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        .form-signin .form-control:focus
        {
            z-index: 2;
        }
        .form-signin input[type="text"]
        {
            margin-bottom: -1px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        .form-signin input[type="password"]
        {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        .account-wall
        {
            margin-top: 20px;
            padding: 40px 0px 20px 0px;
            background-color: #f7f7f7;
            -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        }
        .login-title
        {
            color: #555;
            font-size: 18px;
            font-weight: 400;
            display: block;
        }
        .profile-img
        {
            width: 96px;
            height: 96px;
            margin: 0 auto 10px;
            display: block;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
        }
        .need-help
        {
            margin-top: 10px;
        }
        .new-account
        {
            display: block;
            margin-top: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-sm-6 col-md-6 col-md-offset-3">
                <div class="account-wall">
                    <img class="profile-img" src="https://www.iconfinder.com/data/icons/basic-interface-overcolor/512/user-512.png"
                         alt="">
                    <form class="form-signin" method="post" autocomplete="off">
                        {% csrf_token %}
                        {% for field in form %}
                            <input class="form-control" id="{{ field.id_for_label }}" maxlength="30" name="{{ field.html_name }}" type="text" />
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        {% endfor %}

                        <button class="btn btn-lg btn-info btn-block" type="submit">
                            Sign in</button>
                        <hr>
                        <a href="{% url 'register' %}" class="pull-left">Create an account </a>
                        <a href="{% url 'password_reset' %}" class="pull-right">Forgot Password? </a><span class="clearfix"></span>
                    </form>
                </div>
             </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" >
        $(document).ready(function(){
            $("#id_username").attr('placeholder', '{{form.username.label}} or Email');
            $("#id_password").attr('placeholder', '{{form.password.label}}').prop("type", "password");
        });
    </script>
{% endblock %}