{% extends 'base.html' %}

{% block content %}
    {% if validlink %}
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-md-offset-3">
                    <br>
                    <div class="panel panel-default " >
                        <div class="panel-body account-wall">
                            <form method="POST" role="form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <h2>Change Password</h2>
                                </div>

                                {% for field in form %}
                                    <div class="form-group">
                                        <label class="control-label" for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                                        <input class="form-control" id="{{ field.id_for_label }}" maxlength="30" name="{{ field.html_name }}" type="text" />
                                        {% for error in field.errors %}
                                            <p style="color: red">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endfor %}

                                <div class="form-group">
                                    <button id="signupSubmit" type="submit" class="btn btn-info btn-block">Change your password</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <br><br><br><br>
            <div class="jumbotron jumbotron-fluid">
                <h2 class="display-3">Password Reset Failed !</h2>
                <p>
                    The password reset link was invalid, possibly because it has already been used.
                    Please request a new password reset.
                </p>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript" >
        $(document).ready(function(){
            $("#id_new_password1").attr('placeholder', 'Atleast 8 digits password').prop("type", "password");
            $("#id_new_password2").attr('placeholder', 'Password again').prop("type", "password");
        });
    </script>
{% endblock %}